{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Practica Integradora. Aplicación web dinámica en un servicio de la nube</h1>
        <p>Esta aplicacion esta desarollada con PHP utilizando la plataforma Heroku.</p>
        <a type="button" class="btn btn-lg btn-default" href="https://github.com/elizabethRamosUdg/HerokuProyecto"><span
                class="glyphicon glyphicon-download"></span> Source on GitHub</a>
    </div>
</div>
<div class="alert alert-info text-center" role="alert">
    A continuacion podras encontrar videos relacionados con el computo en la nube.
</div>
<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-info-sign"></span> See Spike launch his online business with Namecheap
            </h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zUaMtSMZDgg"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen=""></iframe>
        </div>
        <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-info-sign"></span> DigitalOcean vs AWS</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/uKu2j3CRDlQ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-info-sign"></span> AWS vs Azure vs GCP | Amazon Web Services vs
                Microsoft Azure vs Google Cloud Platform | Intellipaat</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/n24OBVGHufQ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
            <ul>
                <li><a href="https://www.heroku.com/home">Heroku</a></li>
                <li><a href="https://aws.amazon.com/es/console/">AWS</a></li>
                <li><a href="https://www.digitalocean.com/">Digital Ocean</a></li>
            </ul>
        </div>
    </div> <!-- row -->
</div>

{% endblock %}
