{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Practica Integradora. Aplicación web dinámica en un servicio de la nube</h1>
        <p>Esta aplicacion esta desarollada con PHP utilizando la plataforma Heroku.</p>
        <a type="button" class="btn btn-lg btn-default" href="https://github.com/elizabethRamosUdg/HerokuProyecto"><span
                class="glyphicon glyphicon-download"></span> Source on GitHub</a>
    </div>
</div>
<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zUaMtSMZDgg"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen=""></iframe>
        </div>
        <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zUaMtSMZDgg"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen=""></iframe>
        </div>
        <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zUaMtSMZDgg"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen=""></iframe>
        </div>
    </div> <!-- row -->
</div>

{% endblock %}
